<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>NYPD paper license plate crackdown</title>
  <meta name="description" content="Follow along as the NYPD cracks down on illegal paper license plates.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="twitter:card" content="summary">
  <meta property="og:title" content="NYPD paper license plate crackdown">
  <meta property="og:description" content="Follow along as the NYPD cracks down on illegal paper license plates.">
  <meta property="og:image" content="https://paperplates.nyc/images/share.jpg">

	<script async src="https://www.googletagmanager.com/gtag/js?id=G-0EQQ502ZXG"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-0EQQ502ZXG');
	</script>
	<style>
		.summary {
			display: flex;
			justify-content: space-between;
		}
		h1, .item {
			text-align: center;
		}
		p {
			line-height: 1.5;
		}
		table {
			margin: 0 auto;
			width: 50%;
		}
		th {
			text-align: left;
			white-space: nowrap;
		}
		td, th.count {
			padding-left: 2em;
		}
		.number {
			font-size: 15rem;
			font-weight: 600;
			line-height: 13rem;
		}
		.bar {
			background: blue;
			height: 1em;
		}
		blockquote {
			font-size: 1.5rem;
			line-height: 2rem;
			text-indent: -0.6rem;
			margin-left: 1rem;
		}
		body {
			font-family: sans-serif;
			width: 90%;
			max-width: 1000px;
			margin: 0 auto;
		}
		section {
			margin-bottom: 3rem;
		}
		@media screen and (max-width: 850px) {
			p, td, th {
				font-size: 4vw;
				line-height: 5vw;
			}
			.bar {
				display: none;
			}
			.number {
				font-size: 55vw;
				line-height: 45vw;
			}
			.summary {
				flex-direction: column;
			}
		}
	</style>
</head>

<body>
	<h1>NYPD paper license plate crackdown</h1>

	<section>
		<div class="summary">
			<div class="item">
			<p><span class="number"><%= @total_complaints %></span>
			<br />complaints filed</p>
			</div>
			<div class="item">
			<p><span class="number"><%= @total_summonses %></span>
				<br />summonses issued</p>
			</div>
		</div>
	</section>

	<section>
		<table>
			<thead>
				<tr>
					<th>Resolution</th>
					<th class="count">Count</th>
				</tr>
			</thead>
			<tbody>
				<%- @tbody.each do |label, count| -%>
				<%-
					bar_width = (count/@total_complaints.to_f * 100 ).round * 5
				-%>
					<tr>
						<th><%= label %></th>
						<td class="count"><%= count %></td>
						<td><div class="bar" style="width: <%= bar_width %>px"></div>
					</tr>
				<%- end -%>
			</tbody>
		</table>
	</section>

	<section>
		<p class="quote">
			<blockquote>“If you dare to obscure your real license plate, or if you affix an altered or forged temporary plate to your vehicle, we are out there right now in real time looking for your car and looking for you.”
				<br>—NYPD Transportation Bureau Chief Kim Royster
			</blockquote>
		</p>

	  <p>The NYPD is <a href="https://www1.nyc.gov/office-of-the-mayor/news/475-22/transcript-mayor-eric-adams-crackdown-vehicles-illegal-license-plates">cracking down on fraudulent paper license plates</a>. How are they doing? <a href="https://data.cityofnewyork.us/Social-Services/Paper-License-Plates/n2qu-9sgw/data">Data from NYC 311</a>. Spot a paper plate? <a href="https://portal.311.nyc.gov/article/?kanumber=KA-03492">Report it to 311</a>. Last updated: <%= @last_updated %>.</p>
	</section>

	</body>
</html>
