<!doctype html>
<html class="no-js" lang="en-US">

<head>
	<%-
	percent = (@total_summonses/@total_complaints.to_f * 100).round
	description = "Follow along as the NYPD cracks down on illegal paper license plates. Summons data: #{@total_summonses}/#{@total_complaints} (#{percent}%)"
	title = "NYPD paper license plate crackdown tracker"
	-%>
	<meta charset="utf-8">
	<title><%= title %></title>
	<meta name="description" content="<%= description %>">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta property="twitter:card" content="summary">
	<meta property="og:title" content="<%= title %>">
	<meta property="og:description" content="<%= description %>">
	<meta property="og:image" content="https://paperplates.nyc/images/share.jpg">
	<meta property="og:url" content="https://paperplates.nyc/">
	<meta property="og:type" content="website">

	<script async src="https://www.googletagmanager.com/gtag/js?id=G-0EQQ502ZXG"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-0EQQ502ZXG');
		window.paperplates = <%= JSON.pretty_generate(@resolution_counts) %>;
		function showDataForPrecinct(precinct) {
			const newData = window.paperplates[precinct];
			const dataRows = document.getElementById('data');
			dataRows.replaceChildren();

			const total = newData.total;

			for (const [label, count] of Object.entries(newData.data)) {
				const newRow = document.createElement('tr');
				const barWidth = Math.round(count/total * 100) * 5;

				const headerCell = document.createElement('th');
				headerCell.textContent = label;

				const countCell = document.createElement('td');
				countCell.setAttribute('class', 'count');
				countCell.textContent = count;

				const barDiv = document.createElement('div');
				barDiv.setAttribute('class', 'bar');
				barDiv.setAttribute('style', `width: ${barWidth}px`);

				const barCell = document.createElement('td');
				barCell.appendChild(barDiv);

				newRow.appendChild(headerCell);
				newRow.appendChild(countCell);
				newRow.appendChild(barCell);
				dataRows.appendChild(newRow);
			}
			document.getElementById('complaints').textContent = total;
			document.getElementById('summonses').textContent = newData.data.Summons || 0;
			window.location.hash = precinct;
		}
		function toggleSectionDisplay() {
			document.querySelectorAll('.data-section').forEach( function(item) {
				item.classList.add('hidden');
			});
			const itemId = this.getAttribute('id').substr(4);
			document.getElementById(itemId).classList.remove('hidden');
			document.querySelectorAll('.switch').forEach( function(item) {
				item.removeAttribute('disabled');
			});
			this.setAttribute('disabled', 'disabled');
		}
		document.addEventListener('DOMContentLoaded', function() {
			document.getElementById('precinct').addEventListener('change', function(e) {
				showDataForPrecinct(e.target.value);
			});
			if (window.location.hash) {
				const precinct = window.location.hash.substr(1);
				showDataForPrecinct(precinct);
				document.getElementById('precinct').value = precinct;
			}
			document.querySelectorAll('.switch').forEach( function(item) {
				item.addEventListener('click', toggleSectionDisplay);
			});
    });
	</script>
	<style>
		.summary {
			display: flex;
			justify-content: space-between;
		}
		h1, .item, .form {
			text-align: center;
		}
		p {
			line-height: 1.5;
		}
		.toggle {
			text-align: center;
		}
		.toggle button {
			padding: 0.5em 2em;
			border-radius: 1em;
			background-color: cornflowerblue;
			color: white;
			border: none;
			cursor: pointer;
		}
		.toggle button[disabled="disabled"] {
			opacity: 0.5;
		}
		table {
			margin: 0 auto;
			width: 50%;
		}
		th {
			text-align: left;
			white-space: nowrap;
		}
		td, th.count, th.bar-count {
			padding-left: 2em;
		}
		.number {
			font-size: 15rem;
			font-weight: 600;
			line-height: 13rem;
		}
		.bar, .bar-label {
			display: inherit;
			font-weight: bold;
			padding-left: 0.2em;
			height: 1.2em;
		}
		.bar {
			background: cornflowerblue;
			color: white;
		}
		blockquote, .form, select, .toggle button {
			font-size: 1.5rem;
		}
		blockquote {
			line-height: 2rem;
			text-indent: -0.5rem;
			margin-left: 0;
		}
		body {
			font-family: sans-serif;
			width: 90%;
			max-width: 1000px;
			margin: 0 auto;
		}
		section {
			margin-bottom: 3rem;
		}
		.switch + .switch {
			margin-left: 1em;
		}
		.hidden {
			display: none;
		}
		@media screen and (max-width: 850px) {
			p, td, th {
				font-size: 4vw;
				line-height: 5vw;
			}
			#compare-precincts .count,
			#per-precinct .bar {
				display: none;
			}
			.number {
				font-size: 55vw;
				line-height: 45vw;
			}
			.summary {
				flex-direction: column;
			}
			.switch + .switch {
				margin-left: 0;
				margin-top: 1em;
			}
		}
	</style>
</head>

<body>
	<h1><%= title %></h1>

	<section>
		<div class="summary">
			<div class="item">
			<p><span class="number" id="complaints"><%= @total_complaints %></span>
			<br />complaints filed</p>
			</div>
			<div class="item">
			<p><span class="number" id="summonses"><%= @total_summonses %></span>
				<br />summonses issued</p>
			</div>
		</div>
	</section>

	<section class="toggle">
		<button class="switch" id="btn-per-precinct" disabled="disabled">Specific Precinct</button>
		<button class="switch" id="btn-compare-precincts">Compare Precincts</button>
	</section>

	<section id="per-precinct" class="data-section">
		<p class="form">Precinct: <select id="precinct">
			<%- @resolution_counts.keys.sort_by { |key, value| key.to_i }.each do |p| -%>
				<option><%= p %></option>
			<%- end -%>
			</select>
		</p>

		<table>
			<thead>
				<tr>
					<th>Resolution</th>
					<th class="count">Count</th>
				</tr>
			</thead>
			<tbody id="data">
				<%- @tbody.each do |label, count| -%>
				<%-
					bar_width = (count/@total_complaints.to_f * 100 ).round * 5
				-%>
					<tr>
						<th><%= label %></th>
						<td class="count"><%= count %></td>
						<td><div class="bar" style="width: <%= bar_width %>px"></div>
					</tr>
				<%- end -%>
			</tbody>
		</table>
	</section>

	<section id="compare-precincts" class="hidden data-section">
		<table>
			<thead>
				<tr>
					<th>Precinct</th>
					<th class="count">Complaints</th>
					<th class="bar-count">Percent Summonsed</th>
				</tr>
			</thead>
			<tbody id="data">
				<%- @resolution_counts.sort_by do |key, value|
					[-value['percent'], key.to_i]
				end.each do |label, count| -%>
				<%-
					next if ['all', 'Unknown'].include?(label)
					summonses = count['data']['Summons'] || 0
					bar_width = count['percent'] * 2
				-%>
					<tr>
						<th><%= label %></th>
						<td class="count"><%= count['total'] %></td>
						<%- if count['percent'] > 5 -%>
							<td><div class="bar" style="width: <%= bar_width %>px"><%= count['percent'] %></div>
						<%- else -%>
							<td><div class="bar" style="width: <%= bar_width %>px"></div><div class="bar-label"><%= count['percent'] %></div>
						<%- end -%>
					</tr>
				<%- end -%>
			</tbody>
		</table>
	</section>

	<section>
		<p class="quote">
			<blockquote>“If you dare to obscure your real license plate, or if you affix an altered or forged temporary plate to your vehicle, we are out there right now in real time looking for your car and looking for you.”
				<br>—NYPD Transportation Bureau Chief Kim Royster
			</blockquote>
		</p>

		<p>The NYPD is <a href="https://www1.nyc.gov/office-of-the-mayor/news/475-22/transcript-mayor-eric-adams-crackdown-vehicles-illegal-license-plates">cracking down on fraudulent paper license plates</a>. How are they doing? <a href="https://data.cityofnewyork.us/Social-Services/Paper-License-Plates/n2qu-9sgw/data">Data from NYC 311</a>. Spot a paper plate? <a href="https://portal.311.nyc.gov/article/?kanumber=KA-03492">Report it</a>. Last updated: <%= @last_updated %>.</p>
	</section>

	</body>
</html>
